$color-light-gray: #F3F3F3;
$color-gray: #9F9DB4;
$color-dark-gray: #84848C;

$color-light-purple: #BCB0EC;
$color-purple: #8873F7;
$color-dark-purple: #715CDA;

$color-white: #FFFFFF;
$color-black: #000000;
